/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

body{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(img/bg1.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/bg1.jpg);
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
    opacity: 1;

}

h1 {
    color:#ff7700;
    font-family: 'Cinzel', serif;
    font-weight: 550;
    text-align: center;
    padding-top: 20px;
    font-size: 65px;
}
h1:hover{
    opacity: 1.0;
    transition: 0.3s;
    -webkit-transition: 170ms ease-in-out;
    -moz-transition: 170ms ease-in-out;
    -ms-transition: 170ms ease-in-out;
    -o-transition: 170ms ease-in-out;
    transition: 170ms ease-in-out;
    transition-duration: 170ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    color: white;
}


h2 {
    margin-top: 10px;
    color:white;
    font-family: 'Josefin Slab', serif;
    font-size: 50px;
    font-weight: 50%;
    text-align: center;
    font-weight: bold;
    
}


.chatContainer {
display: flex;
flex-direction: column;
width: 460px;
height: 80%;
position: fixed;
bottom: 0;
right: 20px;
border-radius: 8px 8px 0 0;
overflow: hidden;
box-shadow: 2px 2px 20px;
/*background-color: aqua;*/
animation: fade-in .2s .2s ease-in-out both;
}

.chatHeader {
display: flex;
align-items: center;
justify-content: space-between;
padding: 0 9px;
background-color: #ff7700;
height: 50px;
}

.chatHeaderText {
color: white;
}

.chatHeaderBTN {
background: none;
border: none;
color: white;
cursor: pointer;
}

.chatHeaderBTN:hover {
opacity: 0.5;
}

.chatBody {
position: relative;
background-color: #e8e8e8;
height: 90%;
}

.chatInput {
position: absolute;
bottom: -15px;
width: 100%;
}

.chatBtnContainer {
display: flex;
width: 180px;
height: 50px;
position: fixed;
bottom: 0;
right: 20px;
border-radius: 8px 8px 0 0;
overflow: hidden;
box-shadow: 2px 2px 20px;
background-color: #ff7700;
}

.chatBtnMenu {
display: flex;
align-items: center;
justify-content: space-between;
width: 80%;
padding: 0 9px;
background: none;
border: none;
color: white;
cursor: pointer;
}

.scroll::-webkit-scrollbar {
width: 9px;
}
.scroll::-webkit-scrollbar-track {
background: white;
}
.scroll::-webkit-scrollbar-thumb {
background: black;
}
.scroll::-webkit-scrollbar-thumb:hover {
background: white;
}
::selection {
background-color: yellow;
color: black;
}

input#wisdom {		
margin: auto;
width: 100%;
text-align: left;
padding: 10px;
font-size: 1em;
box-sizing:border-box;
background-color: white;
color:black;
border: 1px solid black;
border-radius: 25px;
}

.scroll {
 display: flex;
 flex-direction: column;
 height: 90%;
 overflow: auto;
}

.single {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    margin-bottom: 10px;
}

input::placeholder {
    font-style: italic;
    border-radius: 15px;
    text-align: center;
    width: 90%;
    color: #686868;
}
img.imguser{
    float: left;
    /*width:50px;*/
    height: 30px;
    padding: 4px 10px 4px 10px;
    filter: brightness(500%);
}
img.imgresp{
    float: right;
    width:50px;
    height: 30px;
    padding: 4px 10px 4px 10px;
}
img.imgerr{
    float: right;
    width:30px;
    height: 30px;
    padding: 4px 10px 4px 10px;
}
p.userRequest:hover, p.userRequest:active {
      color: black;
      border: 2px solid #00BFFF;
    }
p.lexError:hover, p.LexError:active {
      color: black;
      border: 2px solid #f77;
    }
p.lexResponse:hover, p.LexResponse:active {
      color: black;
      border: 2px solid #00FF7F;
    }
p.userRequest {
    font-size: 20px;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 25px;
    min-width: 5%;
    max-width: 85%;
    float: left;
    color: black;
    background-color: #00BFFF;
    font-family: 'Josefin Slab', serif;
}
p.lexResponse {
    font-size: 20px;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border: 1px;
    border-radius: 25px;
    text-align: right;
    min-width: 5%;
    max-width: 85%;
    float: right;			
    color: black;
    background-color: #00FF7F;
    font-family: 'Josefin Slab', serif;
}
p.lexError {
    font-size: 18px;
    margin: 4px;
    padding: 4px 10px 4px 10px;
    border-radius: 25px;
    text-align: right;
    min-width: 5%;
    max-width: 85%;
    float: right;			
    color: black;
    background-color: #f77;
}